.ClientPanel{
    overflow: hidden;
    width: 100%;
}

.Cpanel{
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    border-bottom: 1px solid black;
}
div.row{
    margin: 0;
    padding: 0;
}
.row>*{
    padding: 0 !important;
}
 .Cdetails {
        display: flex;
        justify-content: space-between;
        font-family: Open-Sans;
    }
    input[type="text"] {
        width: 202px;
        height: 37px;
        border-radius: 10px;
        background-color: white !important;
    }
    .clientTable.pt-4 {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid black;
    }
    .ClientName {
        display: flex;
        justify-content: space-around;
    }
    .Details {
        background-color: white;
        border-radius: 40px;
        border: 25px solid #d1c3b4;
        
    }
    .row.panel {
        padding: 35px;
    }
    button.btndisable {
        width: 75px;
        height: 29px;
        background-color: #282624;
        color: white;
    }