

.head{
    font-family: Open Sans;
font-size: 29px;
font-weight: 700;
line-height: 40px;
letter-spacing: 0em;
text-align: left;

}
.buttons{
    padding: 15px;
}
    

.d-flex.justify-content-space-between.align-items-end {
    justify-content: space-between;
    padding: 15px;
}
col-md-4.client{
    padding: 35px;
}
col-md-4.agent{
    padding: 35px;
}
.client {
    background-color: #dac9c9;
    border-radius: 20px;
    padding: 30px;
    
}
.consumer{
    background-color: #dac9c9;
    border-radius: 20px;
    padding: 30px;
}
.agent{
    background-color: #dac9c9;
    border-radius: 20px;
    padding: 30px;
    /* margin: 5px; */

}
.col-md-4.client {
    padding: 35px;
}
.col-md-4.agent {
    padding: 35px;
}

tr:hover{
    background-color:#dac9c9;
    color: white;
    border-radius: 30px;
}